{% extends 'base.html.twig' %}

{% block title %}Learn in Project - Accueil{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1 class="text-center">Homepage</h1>
    </div>

{% endblock %}